@media (max-width:603px) {
    .hide-phone {
        display: none !important;
    }
    .show-phone {
        display: inline-block;
    }
}
@media (min-width:604px) and (max-width:1024px) {
    .hide-tablet {
        display: none !important;
    }
    .show-tablet {
        display: inline-block;
    }
}
.has-touch .show-touch {
    display: inline-block;
}
.toolbar .nav-icon {
    background: url("//a3.behance.net/img/sprites/nav-icons.png?cb=157851609") no-repeat;
}
.toolbar .nav-icon-search {
    background-position: 0 -37px;
    height: 21px;
    width: 19px;
}
.toolbar .nav-icon-close {
    background-position: 0 0;
    height: 17px;
    width: 14px;
}
.toolbar .nav-icon-share {
    background-position: 0 -17px;
    height: 20px;
    width: 24px;
}
@media only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (min--moz-device-pixel-ratio:1.3), only screen and (-o-min-device-pixel-ratio:1.3), only screen and (min-resolution:125dpi), only screen and (min-resolution:1.3dppx) {
    .toolbar .nav-icon {
        background-image: url("//a3.behance.net/img/sprites/nav-icons-2x.png?cb=157851609");
        background-size: 24px 58px;
    }
}
.popup .divided-list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    clear: both;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
.popup .divided-list li.active, .popup .divided-list .divided-toggle-item.active, .popup .divided-list :checked ~ .divided-toggle-item {
    color: #005cff;
    font-weight: bold;
}
.popup .divided-list.empty {
    border: 0;
    margin-bottom: 0;
}
.popup .divided-list li, .popup .divided-list .divided-toggle-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #e6e6e6;
    color: #484848;
    cursor: pointer;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    padding: 10px 12px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.popup .divided-list li:first-child, .popup .divided-list .divided-toggle-item:first-child {
    border-radius: 4px 4px 0 0;
}
.popup .divided-list li:last-child, .popup .divided-list .divided-toggle-item:last-child {
    border-radius: 0 0 4px 4px;
}
.popup .divided-list .divided-toggle-item {
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: left;
}
.popup .divided-list li:first-child a, .popup .divided-list .divided-toggle-wrap:first-child .divided-toggle-item, .popup .divided-list .divided-item:first-child {
    border: 0;
}
.popup .divided-list .list-divider {
    background: #ebebeb;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f3f3), to(#e3e3e3));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#f4f3f3), to(#e3e3e3));
    background: -moz-linear-gradient(center top, #f4f3f3, #e3e3e3);
    background: linear-gradient(#f4f3f3, #e3e3e3);
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
    border-top: 1px solid #e6e6e6;
    color: #797979;
    font-size: 11px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin: 15px 0 5px;
    padding: 0 0 0 10px;
}
.popup .divided-list .list-divider:first-child {
    border-top-width: 0;
    margin-top: 0;
}
.popup .divided-list .divided-item, .popup .divided-list .divided-toggle-item, .popup .divided-list a {
    border-color: #e6e6e6;
    color: #484848;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}
.popup .divided-list .divided-item.disabled, .popup .divided-list .divided-toggle-item.disabled {
    background: #f9f9f9;
    color: #b4b4b4;
}
.popup .divided-list:last-child {
    margin-bottom: 0;
}
.popup .divided-list.disabled {
    cursor: default;
    position: relative;
}
.popup .divided-list.disabled:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    opacity: .6;
    top: 0;
    z-index: 1;
}
.popup .divided-list a:hover {
    text-decoration: none;
}
.popup.desktop .divided-list, .popup.menu .divided-list {
    max-height: 288px;
    overflow-y: auto;
    width: 100%;
}
.popup.desktop .divided-list .divided-item, .popup.desktop .divided-list .divided-toggle-item, .popup.desktop .divided-list a, .popup.menu .divided-list .divided-item, .popup.menu .divided-list .divided-toggle-item, .popup.menu .divided-list a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 25px 0 10px;
}
.popup.desktop .divided-list {
    box-shadow: none;
    overflow-y: auto;
}
.popup.desktop .divided-list a.active, .popup.desktop .divided-list .divided-toggle-item.active, .popup.desktop .divided-list .divided-item.active, .popup.desktop .divided-list :checked ~ .divided-toggle-item {
    color: #1769ff;
    font-weight: bold;
}
.popup.desktop .divided-list a, .popup.desktop .divided-list .divided-toggle-item, .popup.desktop .divided-list .divided-item {
    font-weight: normal;
}
.popup.desktop .divided-list a:hover, .popup.desktop .divided-list .divided-toggle-item:hover, .popup.desktop .divided-list .divided-item:hover {
    background: #efefef;
}
.popup.desktop.list-popup {
    width: 287px;
}
.popup.menu.list-popup {
    width: 252px;
}
.popup.layover .divided-list li {
    padding: 0 15px;
}
.sort-item.active:after, .desktop-list .sort-item.active:hover:after, :checked ~ .divided-toggle-item:after, .divided-item.active:after {
    display: inline-block;
    content: "";
    width: 9px;
    height: 9px;
background: url("data:image/png;
base64, iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAMAAAC+XgR6AAAAvVBMVEUAAP8AQP8AVf8AVf8AWv8AW/8AW/8AW/8AW/8AW/8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXP8AXf8AXv8AYP////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9RWZNTAAAAP3RSTlMBBAkMIi1JV3ODGTJOgIWmrr/H0ePm6/X3+Pn/QjwQAAEECQwQGSItMjxCSU5Xc4CDhaauv8fR4+br9ff4+f8uiYHCAAAAiElEQVR42i2MYQuCMBiEX9qBrpk2MYko/P8/LOpDqduY1Wra2jo4eD7cPegoxhskuJdzormwBpeW0bn2poPwo5UYToQXK8H7AxF2NyacC1tQc23MMRLth5YSkQwV+d+8kTrRurIKxWIp277HBTxf2Qq9JygmM66f4etULZyJloeR0yf5NKbf/wsjMC+8vFvN5AAAAABJRU5ErkJggg==") no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio:1.3), only screen and (-o-min-device-pixel-ratio:1.3), only screen and (min-resolution:125dpi), only screen and (min-resolution:1.3dppx) {
.sort-item.active: after, .desktop-list .sort-item.active:hover:after, :checked ~ .divided-toggle-item:after, .divided-item.active:after {
    width: 9px;
    height: 9px;
    background-image: url("//a3.behance.net/img/sprites/popup-lists-2x.png?cb=157851609");
    background-size: 9px 18px;
}
}
.sort-item.active, :checked ~ .divided-toggle-item, .divided-item.active {
    position: relative;
}
.sort-item.active:after, :checked ~ .divided-toggle-item:after, .divided-item.active:after {
    position: absolute;
    right: 10px;
    top: 40%;
}
.sort-item.active:after, .divided-item.active:after {
    background-position: 0 0;
    height: 9px;
    width: 9px;
}
.desktop-list .sort-item.active:hover:after, .desktop-list :checked ~ .divided-toggle-item:hover:after, .desktop-list .divided-item.active:hover:after {
    background-position: 0 -9px;
}
.popup.desktop .form-button-large {
    margin-right: 10px;
}
@media (max-width:1024px) {
    .form-button-small {
        text-align: center;
    }
}
@media only screen and (max-width:1024px) and (-webkit-min-device-pixel-ratio:1.3), only screen and (max-width:1024px) and (min--moz-device-pixel-ratio:1.3), only screen and (max-width:1024px) and (-o-min-device-pixel-ratio:1.3), only screen and (max-width:1024px) and (min-resolution:125dpi), only screen and (max-width:1024px) and (min-resolution:1.3dppx) {
    .follow-button-container {
        min-width: 76px;
    }
    .follow-button-container .form-button {
        margin-right: 0;
        width: 100%;
    }
    .follow-button-container .form-button:before {
        background-image: none !important;
        display: none !important;
    }
    .form-button-follow {
        text-align: center;
    }
    .form-button-follow:before {
        content: '+';
        font-size: 16px;
        margin-left: -5px;
        top: -1px;
        vertical-align: top;
        width: auto;
    }
}
.popup.menu .popup-buttons .form-item-a, .popup.layover .popup-buttons .form-item-a {
    display: inline-block;
}
.popup.menu .popup-buttons .form-button-default {
    text-align: center;
    width: 195px;
}
.popup.menu .form-item-text input, .popup.layover .form-item-text input {
    width: 100%;
}
.popup.menu .form-item-conjoined, .popup.layover .form-item-conjoined {
    margin-bottom: 10px;
}
.popup.menu .form-item-conjoined.form-item-text, .popup.layover .form-item-conjoined.form-item-text {
    width: 187px;
}
.popup.menu .form-textarea, .popup.layover .form-textarea {
    font-weight: normal;
    min-height: 120px;
    width: 100%;
}
.popup.layover .form-item-conjoined.form-item-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 84%;
}
.popup.layover .form-item-conjoined.form-item-a {
    width: 16%;
}
.popup.layover .form-item-conjoined .form-button {
    text-align: center;
    width: 100%;
}
@media (max-width:603px) {
    #search-popup .form-search {
        margin-right: 2%;
        vertical-align: middle;
        width: 70%;
    }
    #search-popup .search-option-confirm {
        border-radius: 0;
        margin: 0;
        text-align: center;
    }
    #search-popup .form-button {
        padding: 0;
        width: 28%;
    }
}
@media (min-width:604px) and (max-width:1024px) {
    #search-popup .form-search {
        margin-right: 10px;
        text-align: left;
        width: 400px;
    }
    #search-popup .search-option-confirm {
        text-align: center;
    }
}
#search-popup .search-option-confirm {
    margin-top: 0;
}
.popup.layover.search {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-top: 1px solid #d1d1d1;
    height: 100%;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.popup.layover.search .toolbar {
    display: none;
}
.popup.layover.search .popup-content {
    padding: 0;
}
.popup.layover.search #search-popup {
    background: #eee;
}
.popup.layover.search .search-option-confirm {
    line-height: 32px;
    padding: 10px 15px;
}
.popup.layover.search .form-text {
    border-radius: 20px;
}
.has-touch select {
    background: rgba(255, 255, 255, 0.00784) !important;
    font-size: 13px;
    height: 31px;
    padding: 0 .5em;
    position: static;
    visibility: visible;
}
.toolbar {
    background: #131418;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
    display: none;
    line-height: 40px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 5;
}
.toolbar .nav-icon {
    display: block;
}
.toolbar .header {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 43px;
}
.toolbar #logo-link {
    padding: 0 15px;
}
.toolbar .header-action {
    display: block;
    margin: 0 0 0 -11px;
    padding: 9px 11px 13px;
}
.toolbar .header-action.search {
    height: 21px;
    width: 19px;
}
.toolbar .header-action.close {
    height: 17px;
    padding-top: 13px;
    width: 14px;
}
.burger {
    display: inline-block;
    float: left;
    left: 0;
    position: relative;
    width: 21px;
}
#hamburger-button {
    height: 40px;
    margin-left: 11px;
}
#patty {
    background: #dfdfdf;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    top: 20px;
}
#patty:before, #patty:after {
    display: block;
    content: "";
    position: relative;
    width: 21px;
    height: 3px;
    background: #dfdfdf;
    border-radius: 2px;
    left: 0;
    width: 21px;
}
#patty:before {
    top: -7px;
}
#patty:after {
    bottom: -4px;
}
@media (max-width:1024px) {
    .toolbar {
        display: block;
    }
}
@media (min-width:604px) and (max-width:1024px) {
    .toolbar {
        height: 57px;
        padding: 7px 10px;
    }
    #behance-logo {
        top: -7px;
    }
}
@media (max-width:603px) {
    .toolbar, #logo-link .behance-svg, #behance-logo {
        height: 45px;
    }
}
#nav-basement .nav-item-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#nav-basement {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
    background: #1f1f1f;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 75%;
}
.ie9 .basement-open #nav-basement {
    background: #3b3b3b;
    z-index: 2;
}
#nav-basement > .nav-items {
    z-index: 3;
}
#nav-basement .form-button-default, #nav-basement .form-button-dark {
    border-color: #000;
}
#nav-basement .nav-item.submenu {
    position: relative;
}
#nav-basement .nav-item.submenu:before {
    color: #cecece;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 28px;
}
#nav-basement .nav-item-link {
    -webkit-transition: all 0.2s ease-in;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in 0s;
    color: #a4a4a4;
    display: block;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    text-align: left;
}
#nav-basement .nav-item-link:hover, #nav-basement .nav-item-link:focus {
    -webkit-transition: background-color 0.05s linear;
    transition: background-color 0.05s linear;
    text-decoration: none;
}
#nav-basement .nav-item-link.beicons-pre:before {
    color: #cecece;
}
#nav-basement .nav-item-link:hover, #nav-basement .nav-item-link:focus, #nav-basement .nav-item-link.active {
    background: #2b2b2b;
    color: white;
}
#nav-basement .nav-item-link:hover.beicons-pre:before, #nav-basement .nav-item-link:focus.beicons-pre:before, #nav-basement .nav-item-link.active.beicons-pre:before {
    color: white;
}
#nav-basement .nav-submenu-wrap {
    border-radius: 0;
    height: 0;
    overflow: hidden;
    position: relative;
}
#nav-basement .nav-submenu-wrap .nav-submenu {
    background: #171717;
    padding: 12px 0;
}
#nav-basement .nav-submenu-wrap .nav-item-link {
    background: #171717;
    color: #fff;
    font-size: 13px;
    height: 42px;
    line-height: 42px;
    padding-left: 26px;
}
#nav-basement .nav-submenu-wrap .nav-item-link:before {
    content: "\2022";
    margin-right: 8px;
}
#nav-basement .open .nav-submenu-wrap {
    height: auto;
}
#nav-basement .open.beicons-pre-dropdown:before {
    content: 'z';
}
#nav-basement .user-image {
    border-bottom: 1px solid #080808;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    float: left;
    height: 26px;
    margin: 12px 12px 0 20px;
    width: 26px;
}
#nav-basement .action-container {
    padding: 15px 24px 15px 20px;
}
#nav-basement .action-container .form-button {
    text-align: center;
    width: 100%;
}
#nav-basement .action-container + .action-container {
    margin-top: -25px;
}
.hide {
    display: none;
}
.is-ios .ios, .is-android .android {
    display: inline-block;
}
@media (max-width:1024px) {
    body {
        overflow-x: hidden;
    }
    body.basement-open {
        overflow: hidden;
    }
    #nav-basement {
        display: block;
    }
    .showcase-bar, #nav-wrap {
        display: none;
    }
    #top-panel {
        -webkit-transition: -webkit-transform 0.2s 0;
        transition: transform 0.2s 0;
        -webkit-backface-visibility: hidden;
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: relative;
        top: 0;
        z-index: 2;
    }
    #top-panel-blocking {
        width: 100%;
        height: 100%;
        display: none;
        left: 0;
        position: absolute;
        -webkit-tap-highlight-color: transparent;
        top: 0;
    }
    .basement-open #top-panel {
        -webkit-transition: -webkit-transform 0.2s ease;
        -webkit-transition-delay: 0.15s;
        transition: transform 0.2s ease 0.15s;
        -webkit-transform: translate3d(75%, 0, 0);
        transform: translate3d(75%, 0, 0);
        box-shadow: -2px 0 2px rgba(0, 0, 0, 0.3);
    }
    .basement-open #top-panel-blocking {
        display: block;
        z-index: 30;
    }
    .basement-open #nav-basement {
        -webkit-transition: opacity 0s linear;
        transition: opacity 0s linear;
        opacity: 1;
    }
}
.border-box, .grid-site {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.grid-site, #site-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.showcase-bar .grid-site {
    max-width: none;
    min-width: 990px;
    width: 85%;
}
#navmenui-breadcrumbs {
    height: 32px;
    margin-top: 0;
}
@media (max-width:1024px) {
    .toolbar-signup, .header {
        -webkit-transition: opacity 1s ease;
        -webkit-transition-delay: 0s;
        transition: opacity 1s ease 0s;
    }
    .toolbar-signup {
        left: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .scrolled .toolbar-signup {
        display: inline;
        opacity: 1;
    }
    .scrolled .header {
        opacity: 0;
        position: relative;
        z-index: -2;
    }
}
@media (min-width:604px) and (max-width:1024px) {
    .grid-site, #site-content, .project-view #content-container {
        max-width: none;
    }
    #top-panel .toolbar .header, .popup.layover .toolbar .header {
        font-size: 24px;
        line-height: 42px;
    }
    #nav-basement {
        width: 34.9%;
    }
    .basement-open #top-panel {
        -webkit-transform: translate3d(34.5161%, 0, 0);
        transform: translate3d(34.5161%, 0, 0);
    }
    .ie9 .basement-open #top-panel {
        padding-left: 34.5161%;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (min--moz-device-pixel-ratio:1.3), only screen and (-o-min-device-pixel-ratio:1.3), only screen and (min-resolution:125dpi), only screen and (min-resolution:1.3dppx) {
    .nav-icon: before, .toolbar .nav-icon {
        background-image: url("//a3.behance.net/img/sprites/nav-icons-2x.png?cb=157851609");
        background-size: 24px 58px;
    }
}