doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    //link(rel='stylesheet', href='/modules//bootstrap-3.5.5/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/modules/jquery-2.1.4/jquery.js')
    //script(src='/modules/bootstrap-3.5.5/js/bootstrap.js')

  body
    block content
